@media screen and (max-width: 2100px) and (min-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
        height: 100vh;
    }
    .container  {
        background-image: linear-gradient(to bottom,#04BF9D, #003d37);   
    }
    .login-area {
        padding-top: 10px;
        padding-bottom: 100px;
        text-align: center; 
        background-color: white;
    }
    .login-title {
        text-align: center;
    }   
}
@media screen and (max-width: 800px) and (min-width: 100px) {
    /* code */
   
   .container {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 200vh;
        background-image: linear-gradient(to bottom, #7E1EE6, #A66AE6, #C01EE6);  
    }
    .login-area {
        width: 230px;
        height: 300px;
        padding-top: 10px;
        padding-bottom: 10px; 
        align-items: center;
        justify-content: center;
        background-color: #FF81D0;
        border-radius: 20px;
        
    }
    .login-title{
    font-size: 1.5em;
    color: #45214A;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .user-textarea{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgba(211, 211, 211, 0.716);
    font-size: 10;
    }
    .user-password{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgba(211, 211, 211, 0.716);
    font-size: 10;
    }
    .user-textarea:hover{
        background-color: #8787879e;
        transition: 0.9s;
    }
    .user-password:hover {
        background-color: #8787879e;
        transition: 0.9s;      
    }
    .checkbox-container{
        text-align: left;
        margin-left: 18px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        color: #45214A;
    }
    button{
        border: 2px solid black;
        margin-top: 20px;
        font-size: 25px;
        border-radius: 8px;
        background-color: rgba(211, 211, 211, 0.71);
    
    }
    button:hover{
        background-color: rgb(211, 211, 211);
        transition: 0.9s;
    }
    }