
@media screen and (max-width: 2100px) and (min-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        height: 100vh;
    }
    .container  {
        background-image: linear-gradient(to bottom,#04BF9D, #003d37);   
    }
    .login-area {
        padding-top: 10px;
        padding-bottom: 100px;
        text-align: center; 
        background-color: white;
    }
    .login-title {
        text-align: center;
    }   
}
@media screen and (max-width: 800px) and (min-width: 100px) {
    /* code */
}