:root{
    --color-one:#202022;
    --color-two:#878787;
    --color-three:#CACACA;
    --color-four:#00BBC9;
    --color-five:#00747C;
    --color-six:white;
}
@media screen and (max-width: 2100px) and (min-width: 768px) {
    body{
        background-color: var(--color-one);
        margin: 0 auto;
        padding: 5px;
    }
    .nav-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 98.2vw;
        background-color: var(--color-four);
    }

    li{
        display: inline-block;
        margin: 20px;
        font-size: 20px;
    }
    a{
        color: var(--color-six);
    }
    a.links:hover{
        color: var(--color-six);
        transition: 0.9s;
        background-color: var(--color-one);
        border-radius: 10px;
        padding: 3px;
        font-weight: 900;
        margin-right: -8px;
    }
    .main-container {
        font-family: 'Roboto', sans-serif;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 76vh;
    }

    .img-cabeçalho{
        width: 70%;
    }
    .aside-direito{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin-left: 50px;
    }
    .login-area {
        padding-bottom: 20px;
        text-align: center; 
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
    .login-title {
        text-align: center;
        padding-top: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
    }
    .input-container {
        position: relative;
        display: flex;
        align-items: center;
    }
    .icon-user {
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .user-textarea {
        padding-left: 40px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;

        margin-bottom: 10px;

        border-radius: 15px;
        outline-style: none;
        border-style: solid;
    }
    .icon-pass {
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .user-password {
        padding-left: 40px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;

        margin-bottom: 10px;

        border-radius: 15px;
        outline-style: none;
        border-style: solid;
    }
    .checkbox-container {
        text-align: start;
        margin-bottom: 15px;
        user-select: none;
    }
    .forgot-password{
        text-decoration: none;
        color: var(--color-four);
        margin-left: 10px;
    }
    
    
    button {
        margin-top: 20px;
        padding: 10px;
        background-image: linear-gradient(to right, #00BBC9, #00747C );
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        color: white;
        
    }
    button:hover {
        background-image: linear-gradient(to right, #00747C, #00BBC9);
    }
    .create-account{
        text-decoration: none;
        color: var(--color-four);
    }
}
@media screen and (max-width: 800px) and (min-width: 100px) {
    /* code */
   
   .container {
        font-family: 'Roboto', sans-serif;
        align-items: center;
        display: flex;
        justify-content: center;
        background-image: linear-gradient(to left,#04BF9D, #003d37);   
    }
    form {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
    }
    .input-container {
        position: relative;
        display: flex;
        align-items: center;
    }
    .icon-user {
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .user-textarea {
        padding-left: 40px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;

        margin-bottom: 10px;

        border-radius: 15px;
        outline-style: none;
        border-style: solid;
    }
    .icon-pass {
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .user-password {
        padding-left: 40px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;

        margin-bottom: 10px;

        border-radius: 15px;
        outline-style: none;
        border-style: solid;
    }

    .checkbox-container {
        text-align: start;
        margin-bottom: 15px;
        user-select: none;
    }
    .forgot-password{
        text-decoration: none;
        color: #04BF9D;
        margin-left: 10px;
    }
    .login-area {
        margin-top: 200px;
        padding-bottom: 50px;
        text-align: center; 
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
    .login-title {
        text-align: center;
        padding-top: 25px;
    }
    button {
        margin-top: 20px;
        padding: 10px;
        background-image: linear-gradient(to right,#04BF9D, #059c8d);  
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        color: white;
    }
    .create-account{
        text-decoration: none;
        color: #04BF9D;
    }
}