:root{
    --color-one:#202022;
    --color-two:#878787;
    --color-three:#CACACA;
    --color-four:#00BBC9;
    --color-five:#00747C;
    --color-six:white;
}

@media screen and (max-width: 40000px) and (min-width: 1024px ) {
body{
    background-color: var(--color-one);
    color: white;
    margin: 0 auto;
    padding: 5px;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 98.2vw;
    background-color: var(--color-four);
}
#title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline-block;
    margin: 20px;
    font-size: 20px;
}
.neon{
    color: white;
    padding: 15px;
    box-shadow: inset 0 0 12px var(--color-six), 0 0 32px 0 var(--color-one);
    text-shadow: 0 0 8px hsl(0, 0, 100% / 0.3s), 0 0 32px;
    position: relative;
    border-radius: 15px;
}
.neon::before{
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    background: var(--color-six);
    width: 100%;
    height: 100%;
    transform: perspective(64px) rotateX(40deg) scale(1,0.35);
    filter: blur(64px);
    opacity: 0.7;
    pointer-events: none;
}
.neon::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 128px 32px rgba(255, 255, 255, 0.288);
    opacity: 0;
    background-color: var(--color-one);
    z-index: -1;
    transition: opacity 100ms linear;
}
.neon:hover::before,
.neon:hover::after{
    opacity: 1;
}
.neon:hover{
   color: var(--color-one);
   text-shadow: none; 
   transition: 0.9s;
   margin-right: -30px;
}

a {
    color: var(--color-six);
}
a.links:hover{
    color: var(--color-six);
    transition: 0.9s;
    background-color: var(--color-one);
    border-radius: 10px;
    padding: 3px;
    font-weight: 900;
    margin-right: -8px;
}


.esquerdo{
    margin-left: 10px;
    height: 730px;
}
.direita{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.img{
    width: 410px;
    height: 430px;

}
h1{
    font-weight: 200;
}
.main-container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{
    font-size: 50px;
    line-height: 10px;
}
span{
    color: var(--color-four);
}
p{
    line-height: 20px;
    max-width: 500px;
}
.formulario{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center
}
form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: var(--color-five);
    color: var(--color-six);
    font-weight: bolder;
}
form [type="submit"]:hover{
    height: 50px;
    width: 50%;
    color: var(--color-six);
    transition: 0.9s;
    background-color: var(--color-four);
    border-radius: 10px;
    padding: 3px;
    font-weight: 900;
}

label{
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;

}
input{
    border-radius: 20px;
    font-size: 15px;
    padding: 15px;
    width: 60%;
    border: 2px solid var(--color-four);
}
}
@media screen and (max-width: 1023px) and (min-width:600px) {
    body{
        background-color: var(--color-one);
        color: white;
        margin: 0 auto;
        padding: 5px;
    }
    .header-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 98.2vw;
        background-color: var(--color-four);
    }
    #title{
        flex-direction: column;
        line-height: 10px;
    }
    li{
        display: inline-block;
        margin: 5px;
        font-size: 15px;
    }
    .neon{
        color: white;
        padding: 15px;
        box-shadow: inset 0 0 12px var(--color-six), 0 0 32px 0 var(--color-one);
        text-shadow: 0 0 8px hsl(0, 0, 100% / 0.3s), 0 0 32px;
        position: relative;
        border-radius: 15px;
    }
    .neon::before{
        content: "";
        position: absolute;
        top: 120%;
        left: 0;
        background: var(--color-six);
        width: 100%;
        height: 100%;
        transform: perspective(64px) rotateX(40deg) scale(1,0.35);
        filter: blur(64px);
        opacity: 0.7;
        pointer-events: none;
    }
    .neon::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 128px 32px rgba(255, 255, 255, 0.288);
        opacity: 0;
        background-color: var(--color-one);
        z-index: -1;
        transition: opacity 100ms linear;
    }
    .neon:hover::before,
    .neon:hover::after{
        opacity: 1;
    }
    .neon:hover{
       color: var(--color-one);
       text-shadow: none; 
       transition: 0.9s;
    }
    a {
        color: var(--color-six);
    }
    a.links:hover{
        color: var(--color-six);
        transition: 0.9s;
        background-color: var(--color-one);
        border-radius: 10px;
        padding: 3px;
        font-weight: 900;
    }
    .esquerdo{
        margin-left: 10px;
        
    }
    .direita{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    #img-tablet{
        width: 310px;
        height: 330px;
    }
  
    .main-container{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }

    @media screen and (max-width: 1022px) and (min-width: 600px) {
        h2{
            font-size: 30px;
            line-height: 10px;
        }
        .tablet{
            line-height: 35px; 
        }
    }
    
    span{
        color: var(--color-four);
    }
    p{
        line-height: 20px;
        max-width: 500px;
    }
}
.formulario{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center
}
form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: var(--color-five);
    color: var(--color-six);
    font-weight: bolder;
}
form [type="submit"]:hover{
    height: 50px;
    width: 50%;
    color: var(--color-six);
    transition: 0.9s;
    background-color: var(--color-four);
    border-radius: 10px;
    padding: 3px;
    font-weight: 900;
}

label{
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;

}
input{
    border-radius: 20px;
    font-size: 15px;
    padding: 10px;
    width: 60%;
    border: 2px solid var(--color-four);
}
